@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: 'Inter',sans-serif;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 500px;
  }
  
  h1 {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    line-height: 38.73px;
  }
  
  #checklist {
    list-style-type: none;
    padding-left: 0;
    text-align: left;
    width: 500px;
  }

  #checklist li.checked span.checkmark:after {
    display: block;
  }
  
  
  #checkedCount {
    text-align: center;
    font-weight: bold;
  }
  
  ul li{
    list-style: none;
    padding: 12px 8px 2px 50px;
    user-select: none;
    cursor: pointer;
    width: 451px;
    height: 36px;
    top: 432px;
    left: 298px;
    border-radius: 14px;
    font-weight: 500;
    font-size: 26px;
    line-height: 36.4px;
}

ul li::before{
    content: '';
    position: absolute;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    left: 500px;
}

.chcontainer.checked {
    text-decoration: line-through;
    color: #0069EA;
  }

.oval{
    background-color: #f2f2f2;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 50px;
  font-weight: bold;
  color: #0069EA;
  width: 84px;
  height: 36px;
  top: 376px;
  left: 1130px;
  line-height: 28px;
    letter-spacing: 10%;
    font-weight: 700;
    size: 20px;
}

.chcontainer {
    display: block;
    position: relative;
    padding-left: 45px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
  }
  
  .chcontainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: #ffffff;
    border: 2px solid gray;
  }
  
  .chcontainer:hover input ~ .checkmark {
    background-color: rgb(238, 235, 235);
  }
  
  .chcontainer input:checked ~ .checkmark {
    background-color: #0069EA;
    border: 2px solid #0069EA;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .chcontainer input:checked ~ .checkmark:after {
    display: block;
  }
  
  .chcontainer .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .checkbox.con{
    text-decoration: line-through;
    color: #0069EA;
  }